<!DOCTYPE html>
{% if article %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <!--<![endif]-->
{% elif page %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
{% else %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <!--<![endif]-->
{% endif %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
<link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE }}">
<link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{SITEURL}}/theme/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/uikit.min.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/search.min.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/css/tipuesearch.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/css/solarized.css">
<link rel="stylesheet" href="{{SITEURL}}/theme/css/main.css">
<script src="/theme/jquery.min.js"></script>
<script src="/theme/html5shiv.min.js"></script>
<script src="{{SITEURL}}/theme/sugar.min.js"></script>
<script src="{{SITEURL}}/theme/sugar.sv.js"></script>

<script src="{{SITEURL}}/theme/bootstrap/js/bootstrap.min.js"></script>
<script src="{{SITEURL}}/theme/validator.min.js"></script>
                           <style>
                               .initially-hidden {
                                   display: none;
                               }
                           </style>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<header class=" mg-header uk-navbar uk-navbar-attached">

    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>

            <a class="mg-brand uk-navbar-brand uk-hidden-small" href="{{ SITEURL }}">{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}</a>
            <div class="mg-tagline uk-navbar-content uk-hidden-small">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</div>
            <a class="uk-navbar-toggle uk-visible-small" href="#mg-offcanvas" data-uk-offcanvas></a>
            <a class="mg-brand uk-navbar-brand uk-navbar-center uk-visible-small" href="{{ SITEURL }}">{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}</a>
            <div class="mg-tagline uk-navbar-content uk-visible-small">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</div>
        </div>
    </div>
</header>

<main class="mg-main">

<div class="uk-container uk-container-center">

    <div class="uk-grid" data-uk-grid-margin>
        
        {% block content %}
        {% endblock %} 
    
        <div class="uk-width-medium-1-5 uk-hidden-small">
            
            {% if DISPLAY_SEARCH != False %}
            <div class="uk-panel uk-panel-box">
                <form class="uk-search" action="search.html" data-uk-search>
                    <input class="uk-search-field tipue_search" type="search" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search...">
                </form>
            </div>
           {% endif %}

            {% if PYCOMMENTS %}
            {%   include 'pycomments_latest.html' %}
            {% endif %}

            <div class="uk-panel uk-panel-box">
                <ul class="uk-nav uk-nav-side">

                    <li class="uk-nav-header">Taggar</li>
                       {% for tag in tag_cloud %}
                           {%  if loop.index <= 8  %}
                            <li>
                                <a href="{{ SITEURL }}/{{ tag.0.url }}">
                                {{ tag.0 | lower }}
                                    {% if TAG_CLOUD_BADGE %}
                                        <span class="badge">{{ tag.2 }}</span>
                                    {% endif %}
                                </a>
                            </li>
                           {%  endif %}
                        {% endfor %}
                        {%  if tag_cloud|count > 8 %}

                            <li id="hide-clicked" style="cursor: hand;"><a><i>Fler taggar...</i></a></li>
                            {% for tag in tag_cloud %}
                               {%  if loop.index > 8  %}
                                <li class="initially-hidden">
                                    <a href="{{ SITEURL }}/{{ tag.0.url }}">
                                    {{ tag.0 | lower }}
                                        {% if TAG_CLOUD_BADGE %}
                                            <span class="badge">{{ tag.2 }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                               {%  endif %}
                            {% endfor %}
                        {% endif %}

                    <li class="uk-nav-header">Kategorier</li>
                    {% for cat, _ in categories %}
                    <li {% if cat == category %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU != False %}
                    <li class="uk-nav-header">Sidor</li>
                    
                    {% for p in PAGES %}
                    <li {% if p == page %}class="uk-active"{% endif %}>
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                    {% endfor %}
                    
                    {% endif %}

                    <li {% if page_name == 'archives' %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/archives.html">Arkiv</a></li>
                </ul>
            </div>

            <div class="uk-panel uk-panel-box">
                <ul class="uk-nav uk-nav-side">
                <li class="uk-nav-header">Prenumerera</li>
                <li class="mg-feed"><a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="mg-feed"><i class="uk-icon-rss uk-icon-medium"></i> ATOM</a></li>
                <li class="mg-feed"><a rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" class="mg-feed"><i class="uk-icon-rss uk-icon-medium"></i> RSS</a></li>
            </ul></div>
            
            {% if SOCIAL %}
            <div class="uk-panel uk-panel-box">
                <ul class="uk-nav uk-nav-side">
                <li class="uk-nav-header">Kontakta</li>
                {% for icon, link in SOCIAL %}
		<li><a class="mg-icon-link" href="{{ link }}">
                    <i class="uk-icon-{{ icon }} uk-icon-medium"></i>
                </a></li>
                {% endfor %}
		</ul>
            </div>
            {% endif %}

        </div>

    </div>

</div>

</main>

<footer class="mg-footer">
    <div class="uk-container uk-container-center uk-text-center">

        <div class="mg-icons-small uk-subnav uk-visible-small">
            <li><a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="uk-icon-button uk-icon-rss"></a></li>
            {% if SOCIAL %}
            {% for icon, link in SOCIAL %}
            <li>
                <a href="{{ link }}" class="uk-icon-button uk-icon-{{ icon.replace("-square", "") }}"></a>
            </li>
            {% endfor %}
            {% endif %}
        </div>

    </div> 
</footer>


<ul class="tagcloud">

</ul>


<div id="mg-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
            {% if DISPLAY_SEARCH != False %}
        <form class="uk-search" action="search.html" data-uk-search>
            <input class="uk-search-field" type="search" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search...">
        </form>
            {% endif %}

        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li class="uk-nav-header">Topptaggar</li>
               {% for tag in tag_cloud %}
                   {%  if loop.index <= 6  %}
                    <li>
                        <a href="{{ SITEURL }}/{{ tag.0.url }}">
                        {{ tag.0|lower }}
                            {% if TAG_CLOUD_BADGE %}
                                <!-- <span class="badge">{{ tag.2 }}</span> -->
                            {% endif %}
                        </a>
                    </li>
                   {%  endif %}
                {% endfor %}
        </ul>

        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li class="uk-nav-header">Kategorier</li>
            {% for cat, _ in categories %}
            <li {% if cat == category %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU != False %}
            <li class="uk-nav-header">Sidor</li>        
            {% for p in PAGES %}
            <li {% if p == page %}class="uk-active"{% endif %}>
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
            {% endfor %}
                    
            {% endif %}

            <li class="uk-nav-divider"></li>
            <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Arkiv</a></li>
        </ul>
    </div>
</div>


<script>
    $('#hide-clicked').click( function() {
        $('#hide-clicked').hide();
        $('.initially-hidden').show(0);
    });

</script>
<script src="/theme/uikit.min.js"></script>
<script src="/theme/search.min.js"></script>
<script src="/theme/js/jquery.sticky-kit.js"></script>
<script src="/theme/js/tipuesearch_set.js"></script>
<script src="/theme/js/tipuesearch.js"></script>
<script src="/theme/js/plugins.js"></script>
<script src="/theme/js/main.js"></script>

{% include 'disqus_count.html' %}
{% include 'analytics.html' %}
</body>
</html>

